{% load static %}

{% include 'admin/header.html' %}
<link rel="stylesheet" href="{% static 'assets/css/AdminDashboard.css' %}">
        
        <div class="salon-requests">
            <h3 class="request-header">Salon Requests</h3>
            <table class="request-table">
                <thead>
                    <tr class="th">
                        <th>Owner Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in salonrequest %}
                    <tr>
                        <td>{{ request.Name }}</td>
                        <td>{{ request.UserName }}</td>
                        <td>{{ request.Email }}</td>
                        <td>{{ request.PhoneNumber }}</td>
                        <td>
                            <span class="status-badge {% if request.Status == 'verified'  %}verified{% else %}pending{% endif %}">
                                {% if request.Status == 'verified'  %}Verified{% else %}Pending{% endif %}
                            </span>
                        </td>
                        <td>
                            {% if not request.is_verified %}
                            <form action="{% url 'UpdateSalonStatus' request.id %}" method="POST" class="verify-form">
                                {% csrf_token %}
                                
                                    <input type="radio" name="status" value="verified">Verify
                                    <input type="radio" name="status" value="rejected">Reject
                        
                                <button type="submit" class="verify-btn">Submit</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="no-requests">No pending salon requests</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        

    </div>

    <!-- Add JavaScript for mobile menu toggle -->
    <script>
        document.querySelector('.menu-toggle').addEventListener('click', function() {
            document.querySelector('.sidebar').classList.toggle('active');
        });
    </script>
</body>
</html>