{% load static %} {% include 'admin/header.html' %}

<style>
  table {
    position: absolute;
    right: 0px;
    width: 80%;
    color: #ffffff;
    border-radius: 10px;
  }
  tr td {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
  }
  th {
    font-size: 2rem;
  }

  a {
    text-decoration: none;
    color: #d4af37;
  }
</style>

{% block content %}
<table>
  <tr>
    <th>Area Id</th>
    <th>Area Name</th>
    <th>City Name</th>
    <th><a href="{% url 'AreaTrans' %}">Add New</a></th>
  </tr>

  {% for list in AreaList %}
  <tr>
    <td>{{list.id}}</td>
    <td>{{list.AreaName}}</td>
    <td>{{list.CityName}}</td>
    <td><a href="{% url 'AreaTrans' list.id %}">Update</a></td>
  </tr>

  {% endfor %}
</table>

{% endblock content %}
