{% load static %} {% include 'admin/header.html' %}

<style>
  table {
    width: 100%;
    color: #ffffff;
    border-radius: 10px;
  }
  tr td {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
  }
  th {
    font-size: 2rem;
  }
</style>

{% block content %}
<table>
  <tr>
    <th>City Id</th>
    <th>City Name</th>
    <th><a href="{% url 'CityTrans' %}">Add New</a></th>
  </tr>

  {% for list in CityList %}
  <tr>
    <td>{{list.id}}</td>
    <td>{{list.CityName}}</td>
    <td><a href="{% url 'CityTrans' list.id %}">Update</a></td>
  </tr>

  {% endfor %}
</table>

{% endblock content %}
